<!--
	Author: Orielle Gomes
    Date: 20/05/2015
	Description: This is the share page that users are redirected to 
-->

{% extends "base.html" %}
{% load staticfiles %}


{% block styles %}

<style>
.featured-row {
	border:none !important;
}
</style>


{% endblock %}

{% block jquery %}

$signUpCount = {{ count }};

//$(".progress-bar").css("width", "80%").attr("aria-valuenow", "80").text("80%");

function completeBlock(progressBarId){
	$(progressBarId).css("width", "100%").attr("aria-valuenow", "100").text("Completed");
};


function setNewPerc(progressBarId, percentNum, newText){
	$(progressBarId).css("width", percentNum + "%").attr("aria-valuenow", percentNum);

	if (percentNum < 50) {
		//$(progressBarId).text("Your Custom text");
		$(progressBarId).text(newText);
	} else {
		$(progressBarId).text(newText);
	}

};

if ($signUpCount == 0){
	
} else if ($signUpCount > 0 && $signUpCount < 5) {
	$newPercent = $signUpCount/5 * 100;
	setNewPerc("#count5", $newPercent, "Number of Friends: " + $signUpCount);
} else if ($signUpCount>=5 && $signUpCount < 15) {
	completeBlock("#count5");
	$newCount = $signUpCount - 5;
	$newPercent = $newCount/(15-5) * 100;
	setNewPerc("#count15", $newPercent, "Number of Friends: " + $signUpCount);
} else if ($signUpCount >=15 && $signUpCount < 25) {
	completeBlock("#count5");
	completeBlock("#count15");
	$newCount = $signUpCount - 15;
	$newPercent = $newCount/(25-15) * 100;
	setNewPerc("#count25", $newPercent, "Number of Friends: " + $signUpCount);

} else if ($signUpCount >= 25 && $signUpCount < 50 ) {
	completeBlock("#count5");
	completeBlock("#count15");
	completeBlock("#count25");

	$newCount = $signUpCount - 25;
	$newPercent = $newCount/(50-25) * 100;
	setNewPerc("#count50", $newPercent, "Number of Friends: " + $signUpCount);


} else {
	completeBlock("#count5");
	completeBlock("#count15");
	completeBlock("#count25");
	completeBlock("#count50");
}


{% endblock %}


{% block content %}
{% include "navbar.html" %}

  <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
      <div class='row'>
        <div class='col-md-6 pull-right' style='text-align:center;'>
        <img src="{% static 'icons/share.png' %}"  />
          <h1>Invite Friends &amp;<br/> Earn Rewards</h1>
          <p>Share your unique link below via Email, Facebook, Twitter, Reddit, or LinkedIn to earn rewards from Milkshake.com.</p>
          <div class='well' style='background-color:white;'>{{ ref_url }}</div>
          Share<br/>

          <a href="https://www.facebook.com/sharer/sharer.php?u={{ ref_url }}" target="_blank">
          <img src="{% static 'icons/facebook.png' %}"  />
          </a>

          <a href="https://twitter.com/home?status=Hello%20this%20is%20a%20%23tag%20that%20I%20want%20to%20share%20at%20some%20point.%20Tweet%20%40justinmitchel.%20{{ ref_url }}" target="_blank">

           <img src="{% static 'icons/twitter.png' %}"  />
		</a>
			<a href="https://www.linkedin.com/shareArticle?mini=true&url={{ ref_url}}&title=Hello%20this%20this%20is%20a%20title.&summary=Hello%20this%20this%20is%20a%20title.&source={{ ref_url }}" target="_blank">
            <img src="{% static 'icons/linkdin.png' %}"  />
            </a>
            <a href="http://www.reddit.com/submit?url={{ ref_url }}&title=Hello%20this%20this%20is%20a%20title." target="_blank">
             <img src="{% static 'icons/reddit.png' %}"  />
             </a>
             <a href='https://plus.google.com/share?url=http://codingforentrepreneurs.com' target="_blank">
              <img src="{% static 'icons/google+.png' %}"  />
              </a>
        </div>
        <div class='col-md-6 pull-left' style='PADDING-TOP:20px'>
          <img src="{% static 'images/share2.jpg' %}" class='img-responsive' />
          </div>
          </div>
      </div>
    </div>


<div class='container' style="text-align:center;">
Number of friends joined: {{ count }}<br/>

<div class="row">
	<div class="col-sm-3">
	<h3>5 Joined</h3>
		<div class="progress">
			  <div class="progress-bar" id='count5' role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
			   0%
			  </div>
		</div>
		<h4>Reward 1</h4>
		<img src="{% static 'icons/rank1.png' %}"  />
		<hr/>
		<span style='text-align:left !important;'>
		<h5>Prize:</h5>
			<ul>
				<li>One free large milkshake</li>
			</ul>
		</span>
		<hr/>
	</div>
	<div class="col-sm-3">
	<h3>15 Joined</h3>
		<div class="progress">
			  <div class="progress-bar" id="count15" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
			   0%
			  </div>
		</div>
		<h4>Reward 2</h4>
		<img src="{% static 'icons/rank2.png' %}"  />
		<hr/>
		<span style='text-align:left !important;'>
		<h5>Prize:</h5>
			<ul>
				<li>Two free large milkshakes</li>
			</ul>
		</span>
		<hr/>
	</div>
	<div class="col-sm-3">
	<h3>25 Joined</h3>
		<div class="progress">
			  <div class="progress-bar" id="count25" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
			   0%
			  </div>
		</div>
		<h4>Reward 3</h4>
		<img src="{% static 'icons/rank3.png' %}"  />
		<hr/>
		<span style='text-align:left !important;'>
		<h5>Prize:</h5>
			<ul>
				<li>Four free large milkshake!</li>
			</ul>
		</span>
		<hr/>
	</div>
	<div class="col-sm-3">
	<h3>50 Joined</h3>
		<div class="progress">
			  <div class="progress-bar" id="count50" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
			  	0%
			  </div>
		</div>
		<h4>Jackpot</h4>
		<img src="{% static 'icons/rank4.png' %}"  />
		<hr/>
		<span style='text-align:left !important;'>
		<h5>Prize:</h5>
			<ul>
				<li>SEVEN free large milkshakes!</li>
			</ul>
		</span>
		<hr/>
	</div>

</div>

  </div>

</div>

</div>
{% endblock %}
